<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>백엔드수업</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>

    <form>
        <!-- 액션이 무슨뜻이라고 햇더라 -->
        <span>아이디</span><input type="text" name="name"><br>
        <span>패스워드</span><input type="password" name="password"><br>
        <button type="button" onclick="dynamic();">로그인</button>

    </form>
    <div>

    </div>
    <script>
        function dynamic() {
            var form = document.querySelector("form"); //이 코드 모르면 안댐
            var data = {
                name: form.name.value, //폼자식 중 네임을 선택 그 밸류를 가져오겠다
                password: form.password.value
            }

           axios({
            url: "/get/axios",
            method: "post",
            data: data
           }).then((resopanse)=>{
            console.log(resopanse);
            console.log(resopanse.data); //resopanse만 치면 모든 정보가 다 드러옴
           })
        }

    </script>



</body>

</html>