<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>백엔드수업</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>

    <form>
        아이디<input type="text" name="id"><br>
        패스워드<input type="password" name="password"><br>
        이름<input type="text" name="name"><br>
        나이<input type="text" name="age"><br>
        <input type="file" name="userfile" id="file"><br>
        <button type="button" onclick="fileUpload();">업로드</button>
        <button type="reset">리셋</button>
    </form>
    <div>

    </div>
    <script>
        function fileUpload () {
            const formData = new FormData();
            const form = document.querySelector('form');
            const div = document.querySelector('div');
            const file = document.getElementById("file"); //위에 인풋태그의 파일을 담아주는거
            formData.append("id", form.id.value);
            formData.append("userfile",file.files[0],'id.jpg') //앞에 네임값 뒤에는 우리가 넣고자하는값
            axios ({
                headers: { //파일업로드를할때 
                    "Content-Type" : "multipart/form-data"
                },
                url: "/upload",
                method: "post",
                data: formData
            }).then((Response)=>{
                console.log(Response.data);
                const img = document.createElement('img');
                img.src = `uploads/${Response.data}`;
                div.append(img);
            })
        }
    </script>

</body>

</html>